# Ignore everything
*
# Except
!envs
envs/*
!envs/exomy.py

#Except 2
!assets
assets/*
!assets/urdf
assets/urdf/*
!assets/urdf/exomy_model
!assets/urdf/exomy_model/*
!assets/ExoMy_asset_info.txt


!.gitignore
!README.md
